In [2]:
!pip install pandas
import pandas as pd

Collecting pandas
  Downloading pandas-2.3.0-cp311-cp311-macosx_11_0_arm64.whl.metadata (91 kB)
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.3.0-cp311-cp311-macosx_14_0_arm64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/agent_env/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/agent_env/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.0-cp311-cp311-macosx_11_0_arm64.whl (10.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 7.0 MB/s eta 0:00:00a 0:00:01
Downloading numpy-2.3.0-cp311-cp311-macosx_14_0_arm64.whl (5.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.4/5.4 MB 9.5 MB/s eta 0:00:00a 0:00:01
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4/4 [pandas]2m3/4 [pandas]
Successfully installed numpy-2.3.0 pandas-2.3.0 pytz-2025.2 tzdata-2025.2

In [6]:
df = pd.read_csv('preddata_with_predictions.csv')

In [9]:
df.head(20)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,predicted_median_house_value
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,455421.091027
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,386182.879058
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,382204.364539
3,-117.95,33.84,18.0,3418.0,815.0,1961.0,773.0,3.6500,171400.0,<1H OCEAN,196280.042449
4,-117.94,33.83,20.0,812.0,192.0,494.0,172.0,3.2500,350000.0,<1H OCEAN,211475.128052
5,-121.75,39.88,16.0,2867.0,559.0,1203.0,449.0,2.7143,95300.0,INLAND,96739.825305
6,-121.68,39.82,15.0,3996.0,748.0,1786.0,728.0,3.5189,141300.0,INLAND,123484.381964
7,-121.54,40.06,17.0,858.0,262.0,47.0,27.0,2.4028,67500.0,INLAND,84027.479221
8,-121.51,39.97,22.0,1468.0,285.0,611.0,235.0,2.3036,73000.0,INLAND,80726.348415
9,-121.59,39.86,14.0,1527.0,269.0,665.0,261.0,2.8657,119600.0,INLAND,108652.710512
10,-121.58,39.83,16.0,4591.0,904.0,1904.0,812.0,2.2419,93200.0,INLAND,96797.804061
11,-121.60,39.80,10.0,1742.0,307.0,721.0,312.0,2.4537,117900.0,INLAND,105506.923958
12,-121.62,39.79,11.0,3835.0,727.0,1456.0,658.0,2.5374,97200.0,INLAND,109712.417271
13,-121.59,39.82,12.0,1958.0,369.0,875.0,354.0,2.3507,97600.0,INLAND,95413.609692
14,-121.60,39.83,12.0,3744.0,699.0,1532.0,660.0,2.3079,95300.0,INLAND,104003.970061
15,-121.63,39.82,11.0,3974.0,727.0,1610.0,634.0,2.6147,107700.0,INLAND,111039.857531
16,-121.60,39.79,18.0,2672.0,533.0,1151.0,532.0,2.5670,102900.0,INLAND,105972.015846
17,-121.59,39.79,20.0,743.0,171.0,395.0,168.0,1.6250,88300.0,INLAND,78350.730728
18,-121.59,39.78,16.0,2754.0,570.0,1063.0,543.0,1.4048,86500.0,INLAND,90250.883615
19,-121.59,39.78,18.0,945.0,205.0,385.0,207.0,2.1838,58000.0,INLAND,96170.728153

In [8]:
df.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,predicted_median_house_value
176,-121.97,37.54,31.0,1949.0,344.0,986.0,322.0,4.6349,196200.0,<1H OCEAN,238792.454117
177,-121.97,37.55,17.0,4924.0,1247.0,3080.0,1182.0,3.1680,189400.0,<1H OCEAN,199605.521633
178,-121.98,37.54,17.0,5133.0,1375.0,3386.0,1339.0,3.1326,220800.0,<1H OCEAN,202331.501157
179,-121.99,37.55,16.0,6647.0,2098.0,4649.0,1903.0,2.9074,213800.0,<1H OCEAN,195819.871675
180,-121.94,37.56,15.0,5674.0,748.0,2412.0,714.0,8.3996,442900.0,<1H OCEAN,422671.142952

In [21]:
totaldiff = abs(sum(df['predicted_median_house_value'])- sum(df['median_house_value']))

In [22]:
totaldiff

892102.0332487859

In [23]:
total = sum(df['median_house_value'])

In [25]:
totaldiff/total * 100

2.8156764528074194

In [ ]:
df2 = pd.read_csv('data-8013-trends.csv')

In [29]:
# Save the reduced dataset to a new CSV file
import pandas as pd

# Read the CSV file
df2 = pd.read_csv('data-8013-trends.csv')

# Reduce the dataframe to only 100,000 rows
reduced_df = df2.head(100000)

# Optional: Check the shape to confirm
print(f"Original shape: {df2.shape}")
print(f"Reduced shape: {reduced_df.shape}")

reduced_df.to_csv('data-8013-trends-reduced.csv', index=False)

Original shape: (823225, 15)
Reduced shape: (100000, 15)

In [28]:
df2.head()

,BILLING_DATE,SITE,BRAND,FORMAT_DESC,MH_SEGMENT,MH_FAMILY,MH_CLASS,MH_BRICK,ARTICLE,TOTAL_BILLING_QTY,TOTAL_GROSS_MARGIN,TOTAL_MARKDOWN,TOTAL_NET_SALES,TOTAL_GROSS_SALES,TOTAL_DISCOUNT
0,2024-09-16,8013,04063,TRENDS,MENS CASUAL,WINTER WEAR,TOPS,SWEATSHIRTS,443047006022,1,445.19,0.0,899.0,899.0,0.0
1,2023-08-20,8013,A423,TRENDS,PERSONAL CARE,SKIN PRODUCTS,SKIN CARE,EXFOLIANTS/MASKS,492859499,1,34.89,0.0,50.0,100.0,50.0
2,2023-08-20,8013,02370,TRENDS,D2C Fashion,Men,Footwear,Sports Shoes,469252942003,1,1074.56,0.0,4063.4,5999.0,1935.6
3,2023-10-20,8013,J378,TRENDS,MENS FOOTWEAR,FW MN CASUAL,MENS,SHOE SLIPON,450154389005,1,377.26,0.0,729.5,999.0,269.5
4,2023-10-20,8013,J380,TRENDS,FW ACCESSORIES,FW AC SHOECARE,UNISEX,OTHERS,450150552001,1,-4.88,0.0,67.4,99.0,31.6